*.class
blob.fits
face.txt
fishfinger.fits
img.fits
lemon.fits
line.fits
mask.fits
new.fits
okay.fits
rosat_pspc_rdf2_3_bk1.fits
rosat_pspc_rdf2_3_bk2.fits
section.fits
section1.fits
section5.fits
setion3.fits
annotation.txt
annotations
annotations.txt
apple.fits
